*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
video,
frame {
    max-width: 100%;
    height: auto;
}

body {
    overflow-x: hidden;
}

/*Fonts --------------------------------------*/

h2 {
    font-size: 50px;
    text-align: center;
    margin: 30px auto 0 auto;
    font-family: 'Average',
        serif;
    font-weight: 300;
}

p {
    font-size: 20px;
    font-family: 'EB Garamond',
        serif;
    line-height: 30px;
    margin: 30px auto;
    text-align: center;
    width: 85vw;

}

@media only screen and (min-width: 768px) {
    h2 {
        font-size: 50px;
        margin: 45px auto 0 auto;

    }

    p {
        width: 80vw;
        margin: 45px auto;
    }
}

@media only screen and (min-width: 1200px) {
    h2 {
        font-size: 50px;
        margin: 50px auto 0 auto;

    }

    p {
        font-size: 20px;
        line-height: 30px;
        width: 50vw;
        margin: 50px auto;
    }
}

/*Home --------------------------------------*/
#home {
    width: 100vw;
    height: 100vh;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

#home div {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

#home div h1 {
    font-size: 80px;
    text-align: center;
    color: white;
    margin: 60px auto auto auto;
    font-family: 'Average',
        serif;
    font-weight: 300;
}

#home div img {
    width: 50px;
    justify-self: flex-end;
    margin: auto auto 50px auto;

}

@media only screen and (min-width: 768px) {
    #home div h1 {
        text-align: left;
        margin: 40vh auto auto 60px;
        justify-self: flex-end;
        font-size: 120px;

    }

    #home div img {
        width: 55px;
        margin: -50px auto auto auto;
    }
}

@media only screen and (min-width: 1200px) {
    #home div h1 {
        margin: 45vh auto auto 100px;
        font-size: 120px;

    }

    #home div img {
        width: 60px;
    }
}


/*About Us --------------------------------------*/
#about {
    width: 100vw;
    height: auto;
}



/*Events --------------------------------------*/
#events {
    width: 100vw;
    height: auto;
    background-image: url(../media/intro.jpg);
    object-fit: cover;
    background-position: center;
    clip-path: polygon(50% 5%, 100% 0, 100% 100%, 0 100%, 0 0);

}

#events div {
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

#events div h2 {
    color: white;
}

#events div p {
    color: white;

}

@media only screen and (min-width: 768px) {
    #events {
        clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
    }

    #events div {
        padding-top: 10%;
    }

}

@media only screen and (min-width: 1200px) {
    #events {
        clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0);
    }


}

/*Gallery --------------------------------------*/
#gallery {
    width: 100vw;
    height: auto;
}

#gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5vw;
    margin: 30px 5vw;


}

#gallery-container img { 
    width: 42.5vw;
    height: 42.5vw;
    object-fit: cover;
}

#gallery-container img:hover{
    transform: scale(1.05);
    cursor: pointer;
}
@media only screen and (min-width: 768px) {
    #gallery-container { 
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3vw;
        margin: 70px auto;
        width: 80vw;


    }

    #gallery-container img {
        width: calc(74vw / 3);
        height: calc(74vw / 3);
    }
}

@media only screen and (min-width: 1200px) {
    #gallery-container {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2vw;
        margin: 100px auto;
        width: 70vw;


    }

    #gallery-container img {
        width: calc(66vw / 4);
        height: calc(66vw / 4); 
    }
}